.viewHeader {
    display: flex;
    flex-direction: column;
    background: var(--g0);
    width: 100%;

    > .main {
        > .title {
            font-family: "Cabinet Grotesk", serif;
            font-size: 3.6rem;
        }

        > .optional {
            font-size: 1.3rem;
        }
    }
}

@media screen and (max-width: 520px) {
    .viewHeader {
        display: flex;
        justify-content: center;
        height: 80px;
        border-bottom: 1px solid var(--b5);
        padding: 0 32px 0 32px;
        position: fixed;
        top: 0;
        left: 0;

        > .main {

            > .title {
                font-size: 2rem;
            }
        }
    }
}