@import "DefaultTheme";

.postEntries {
  width: 100%;
  user-select: none;

  .buttonList {
    display: flex;
    gap: 8px;

    > .button {
      user-select: none;
      -webkit-tap-highlight-color: transparent;

      padding: 8px;
      aspect-ratio: 1 / 1;
      display: flex;
      align-items: center;
      justify-content: center;
      //background: var(--g1);
      border-radius: 100%;

      > * {
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        font-size: 3rem !important;
      }
    }
  }

  > .body {
    margin-top: 8px;
    display: grid;
    grid-template-columns: 3fr minmax(300px, 1fr);
    grid-template-rows: 1fr;
    gap: 32px;
    width: 100%;
    height: 100%;

    > .main {
      @include gap(16px);

      > .topWrapper {
        display: flex;
        flex-direction: column;
        gap: 8px;

        > .headerWrapper {
          display: flex;
          justify-content: space-between;

          > .postEntriesListHeader {
            display: none;
          }
        }
      }


      > .postEntriesList {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 16px;

        > .postEntryItem {
          @include box(var(--g15), 16px, 8px, null, var(--g2));
          color: var(--b21);
          flex-direction: column;

          @media screen and (max-width: 520px) {
            > * {
              font-size: 1.2rem;
            }
          }

          .title {
            font-weight: bold;
          }

          > .postIntrisic {
            display: flex;
            flex-direction: column;
            gap: 4px;

            .tags {
              display: flex;
              gap: 4px;
              flex-wrap: wrap;
            }

            .stats {
              display: flex;
              align-items: center;
              gap: 16px;
              margin-top: 4px;
            }
          }

        }
      }
    }

    > .aside {

      > .topicEntriesListHeader {
        margin-bottom: 12px;
      }

      > .topicEntriesList {
        @include gap(12px);

        > .topicEntryItem {
          font-size: 1.2rem;
          display: flex;
          color: var(--b2);
          border: unset;
          border-radius: unset;
          flex-direction: row;
          justify-content: space-between;
          padding: 4px 0 12px;
          cursor: pointer;

          &:not(:last-of-type) {
            border-bottom: 1px var(--b5) solid;
          }

          @media screen and (min-width: 520px) {
            &:hover {
              .name {
                color: var(--g4);
              }
            }
          }

          .articleCount {
            color: var(--b3);
          }

          .name {
            transition: 100ms;
          }

          .stats {
            display: flex;
            justify-content: space-between;

            .vccount {
              display: flex;
              gap: 8px;
            }
          }
        }
      }
    }

    .searchBox {
      display: flex;
      align-items: center;
      padding: 0 16px;
      gap: 8px;
      border-radius: var(--boxRadius);
      height: 56px;
      width: 100%;
      border: 1px solid var(--b5);
      color: var(--b3);

      > .input {
        height: 100%;
        width: 100%;
        background: unset;
        border: unset;
        font-family: inherit;
        font-size: 1.3rem;

        &:focus {
          outline: none;
        }
      }
    }
  }
}

@media screen and (max-width: 520px) {
  .postEntries {
    > .mainHeader {
      margin-bottom: 16px;
    }

    > .body {
      grid-template-columns: 1fr;
      grid-template-rows: fit-content(100%);
      gap: 32px;


      > .main {
        order: 2;

        > .topWrapper {
          > .headerWrapper {
            > .postEntriesListHeader {
              display: flex;
            }
          }
        }

        .searchBox {
          display: none;
        }
      }

      > .aside {
        order: 1;
      }
    }
  }
}