.viewHeader {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  top: 0;
  z-index: 10;
  transition: 400ms;
  color: var(--b2);
  border-bottom: 1px solid transparent;
  height: 120px;
  background: var(--g0);

  > .main {
    display: flex;

    flex-direction: column;
    transition: 400ms;

    > .title {
      -webkit-tap-highlight-color: transparent;
      user-select: none;

      font-size: 3.6rem;
      font-family: UIFont, Roboto, sans-serif;
      font-weight: 400;
      transition: 400ms;
    }

    > .subtitle {
      height: 1.3rem;
    }
  }
}

@media screen and (max-width: 520px) {
  .viewHeader {
    position: sticky;
    border-color: var(--b5);
    height: 90px;
    align-items: center;

    > .main {

      > .title {
        font-size: 2.2rem;
      }

      > .subtitle {
        height: fit-content;
      }
    }
  }
}