.viewHeader {
  width: 100%;
  top: 0;
  background-color: var(--g0);
  transition: 400ms;
  color: var(--b2);
  border-bottom: 1px solid transparent;

  > .main {
    height: 142px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    transition: 400ms;

    > .title {
      font-size: 3.6rem;
      font-family: UIFont, sans-serif;
      font-weight: 400;
      transition: 400ms;
    }

    > .optional {
      height: 1.3rem;
    }
  }
}

@media screen and (max-width: 520px) {
  .viewHeader {
    position: sticky;
    border-color: var(--b5);

    > .main {
      height: 72px;

      > .title {
        font-size: 2.2rem;
      }
    }
  }
}