.textEditor {
  width: 80%;
  min-height: 90%;
  padding: 32px;
  border: 1px solid var(--b5);
  font-family: 'Reddit Sans Condensed',Roboto, sans-serif;
  line-height: 3rem;
  border-radius: 16px;

  &:focus {
    outline: none;
  }

  .block {
    padding-left: 8px;
    width: 100%;
    transition: 200ms;

    &:hover {
      border-radius: 8px;
      background: var(--b6);
    }


    &:not(:first-of-type) {
      margin-top: 2px;
    }
  }

  .tag > .editable {
    font-size: 16px;
    font-weight: 400;
    display: inline;
  }

  .tag {
    display: inline;

    &.text {

    }

    &.bold {
      font-weight: bolder;
    }

    &.italic {
      font-style: italic;
    }

    &.code {
      font-family: "JetBrains Mono", sans-serif;
    }
  }
}