.textEditor {
  width: 100%;
  min-height: 300px;
  padding: 32px;
  border: 1px solid var(--b5);
  font-family: Roboto, sans-serif;
  text-align: justify;
  line-height: 3rem;

  &:focus {
    outline: none;
  }

  .block {
    border-left: 3px solid rgb(223, 227, 222);
    padding-left: 8px;
    width: 100%;

    &:not(:first-of-type) {
      margin-top: 16px;
    }
  }

  .tag > .editable {
    font-size: 1.2rem;
    font-weight: 500;
    display: inline;
  }

  .tag {
    display: inline;

    &.text {

    }

    &.bold {
      font-weight: bolder;
      background: rgba(71, 178, 178, 0.25);
    }

    &.italic {
      font-style: italic;
      background: rgba(178, 71, 169, 0.27);
    }

    &.code {
      font-family: "JetBrains Mono", sans-serif;
      background: rgba(101, 178, 71, 0.28);
    }
  }
}